@model AnkietaProjekt.Models.Question

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Czy napewno chcesz usunąć to Pytanie ?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pytanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pytanie)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do Listy", "Index")
        </div>
    }
</div>
